NEXT_PUBLIC_ARGUS_API_URL=https://yfc324axld.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_j15GauPsf
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=3vsu92p54m2523gifprtt60e4c
